@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
        <b>Email xac nhan</b>
    </div>
    <div>
        <pre style="font-size:medium">
            Hi Sir/Madam
                Email này vừa đăng kí thành công tài khoản N-AIR!
                Click <a href="@ViewBag.Accept">vào đây</a> để xác nhận
                Nếu không nhận ra hoạt động này Click <a href="@ViewBag.Deny">Hủy</a>
        </pre>
    </div>
</body>
</html>

