@{
    ViewBag.Title = "Confirm";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";

}
<div class="reg-form">
    <div class="container">
        <div class="reg">
            <br /><br />
            <div class="alert alert-warning" id="previous">
                <strong>Xác nhận tài khoản của bạn</strong>
                <input type="submit" class="btn btn-warning" value="Xác nhận" onclick='verified()' />
            </div>
            <div class="alert alert-success" id="after" style="display:none">
                <strong><span class="glyphicon glyphicon-ok"></span>Tài khoản của bạn đã được kích hoạt</strong>
            </div>
        </div>
    </div>
    </div>
    <script>
    function verified()
    {
        $.ajax({
            type: "post",
            url: "/user/activeaccount",
            data: { 'regId': '@ViewBag.regisID' },
            success:function(msg)
            {
                $('#previous').hide();
                $('#after').show();
                //alert(msg);
            }
        });
    }
    </script>
