@model Entity.ViewModel.CUSTOMERLOGINViewModel
@{
    ViewBag.Title = "login";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <div class="container">
        <div class="login-grids">
            <div class="col-md-6 log">
                <h3>Login</h3>
                <div class="strip"></div>
                <p>Welcome, please enter the following to continue.</p>
                <p>If you have previously Login with us, <a href="#">Click Here</a></p>
                @using (Html.BeginForm("login","user",FormMethod.Post))
                {
                <form>
                    <h5>Email:</h5>
                    @Html.TextBoxFor(model => model.EMAIL)
                    <h5>Mật khẩu:</h5>                    
                    @Html.PasswordFor(model => model.MATKHAU)<br>
                    <input type="submit" value="Đăng nhập">
                </form>
                }               
                <a href="#">Forgot Password ?</a>
            </div>
            <div class="col-md-6 login-right">
                <h3>New Registration</h3>
                <div class="strip"></div>
                <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                <a href="register.html" class="button">Create An Account</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

